:root{
    --application-font-family: system-ui;
}

.submit-btn, .secondary-btn {
    height: 40px;
    font-size: 20px;
    font-family: var(--application-font-family);
    color: white;
    border-radius: 40px;
    border-width: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
}

.submit-btn {
    background-color: #04ba5f;
}

.secondary-btn {
    background-color: #a0a1ad;
}

.suggestion-btn {
    height: 38px;
    width: 60px;
    font-size: 15px;
    font-family: var(--application-font-family);
    color: white;
    background-color: #b0b0b0;
    border-width: 0px;
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit-btn:hover, .secondary-btn:hover, .suggestion-btn:hover{
    opacity: 0.7;
}