.suggestions-container{
    display: flex;
}

.guess-word-input {
    font-family: var(--application-font-family);
    height: 50px;
    width: 400px;
    text-align: center;
    background-color: azure;
    border-radius: 50px;
    font-size: 28px;
    border: 1px;
    outline: none;
}

.toggle-tiles-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn-container{
    text-align: center;
}

.control-area-header {
    font-family: var(--application-font-family);
}