.suggestions-container{
    display: flex;
}

.guess-word-input {
    width: 183px;
    text-align: center;
}

.toggle-tiles-container {
    display: flex;
}

.submit-btn-container{
    text-align: center;
}