.suggestions-container{
    display: flex;
}

.guess-word-input {
    font-family: var(--application-font-family);
    height: 40px;
    width: 270px;
    text-align: center;
    border: 1px solid #b0b0b0;
    border-radius: 50px;
    font-size: 22px;
    outline: none;
}

.toggle-tiles-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn-container{
    text-align: center;
}

.control-area-header {
    font-family: var(--application-font-family);
}