.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control-box-container {
    background-color: grey;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.board-container {
    background-color: grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    min-width: 350px;
    padding: 35px;
}
