
.toggle-tile {
    /*Leave the default font*/
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-width: 1px;
    margin-right: 5px;
    color: white;
    align-content: center;
}

.grey-tile {
    background-color: #787c7e;
}

.yellow-tile {
    background-color: #c9b257;
}

.green-tile {
    background-color: #69aa64;
}

.outline-tile{
    border: 1px solid white;
}

.board-tile {
    height: 55px;
    width: 55px;
    font-size: 25px;
    border-width: 1px;
    margin-right: 5px;
    color: white;
    align-content: center;
}