
.toggle-tile {
    /*Leave the default font*/
    height: 35px;
    width: 35px;
    border-width: 1px;
    margin-right: 2px;
    color: white;
    align-content: center;
}

.grey-tile {
    background-color: #787c7e;
}

.yellow-tile {
    background-color: #c9b257;
}

.green-tile {
    background-color: #69aa64;
}