@page "/"

@inject Game game

<PageTitle>Wordler</PageTitle>

<div class="game-container">
	<HowTo />

	<ControlBox RefreshOtherComponents=@RefreshAll />

	<Board @ref="_boardComponent" />

	<Analytics @ref="_analyticsComponent" />
</div>

<Spacer Height=20 />

@code{
	/* Components */
	private Analytics _analyticsComponent;
	private Board _boardComponent;	

	private void RefreshAll()
	{
		// since components do not accept any parameters, parent StateHasChanged (executed below)
		// will not reload the child components, instead you have to call each child's StateHasChanged
		// via their exposed refresh function
		_analyticsComponent.Refresh();
		_boardComponent.Refresh();
		StateHasChanged();
	}
}