<div class="how-to-play-container">
	<details class="details">
		<summary class="details-summary">
			How To Play
		</summary>
		<ol type="1" class="how-to-play-text-container">
			<li>Load up Wordle and Wordler by opening both. You’re going to switch between apps like you normally would. Switch to Wordler.</li>
			<li>Look at the Wordler suggestions to help you guess a word (shuffle can be used any time).</li>
			<li>Once you spot a word you like, tap it and it will auto fill the guess word box and result tiles.</li>
			<li>Switch to Wordle and type in the word you selected. Press enter to view the results.</li>
			<li>Memorize the colors.</li>
			<li>Switch back to Wordler and tap the result tiles to change their colors. Use the colors you just memorized.</li>
			<li>Click submit.</li>
			<li>The guess word will be added to your board - which should match the Wordle board.</li>
			<li>Repeat steps 2-9. But notice that with each round you play, the suggestions change based on letters eliminated.</li>
			<li>In most cases you should get the right word in 4 guesses.</li>
		</ol>
	</details>
</div>
